@import "tailwindcss";


html, body{
  height: 100%;
  width: 100%;
}
body{
  font-family: var(--font-googleSansFlex); /* ✅ FIXED */
}

.container{
  width: 100%;
  max-width: 1248px !important;
  margin:0 auto !important;
  padding-left: 20px;
  padding-right: 20px;
}