/* ================================
   Tailwind
================================ */
@import "tailwindcss";


/* ================================
   Project Styles
================================ */
@import "./styles/abstracts/variables.css";
@import "./styles/abstracts/utilities.css";
@import "./styles/abstracts/mixin.css";
@import "./styles/layout/header.css"; 
@import "./styles/component/hero.css";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-googleSansFlex);
}

/* ================================
   Layout
================================ */
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
}

.slick-track {
  display: flex;
}

.slick-slide {
  height: auto;
}

.slick-slide > div {
  margin: 0 12px;
  /* display: block; */
  height: 100%;
}
